= display_page_title('Users List')
.container.content
  %table.table
    %tr
      %th= label_name('user.first_name')
      %th= label_name('user.last_name')
      %th= label_name('user.email')
      %th= label_name('user.is_admin')
      %th= label_name('user.action')
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= label_name("user.#{user.is_admin.class}")
          %td
            = link_to 'Edit', edit_user_path(user.id) ,class: 'btn btn-link', data: {test: "edit-user-#{user.id}"}
            = button_to 'Delete', user_path(user.id), method: :delete, class: 'btn btn-link', data:{confirm: t('user.message.delete_confirmation'), test: "delete-user-#{user.id}"}

  .pagination
    = will_paginate(@users, {renderer: BootstrapPagination::Rails, next_label: '&raquo;', previous_label: '&laquo;'})
