= display_page_title ('Schedules List')

.container.content
  %table.list-table
    %thead
      %tr
        %th= label_name('leave.date')
        %th= label_name('leave.hours')
        %th= label_name('leave.reason')
        %th= label_name('leave.project_id')
        %th= label_name('leave.action')
    - @schedules.each do |schedule|
      %tr
        %td= schedule.date
        %td= pluralize(schedule.hours, 'hour')
        %td= schedule.reason
        %td= schedule.project.name
        %td
          = list_delete_button(schedule)

  .pagination
    = bootstrap_paginate(@schedules)
