= bootstrap_form_for client do |f|
  = f.select :title, Client.title.options
  = f.text_field :first_name
  = f.text_field :last_name
  = f.email_field :email
  = f.text_field :phone
  = f.text_field :designation
  = f.text_area :address
  = f.text_field :company_name
  = f.submit 'Submit', class: 'btn-u'
  = link_to 'Back', clients_path, class: 'btn-u btn-u-default'
