%h1 Clients List

%div
  = "#{@clients.size} client(s)"

%table
  %tr
    %th Title
    %th First Name
    %th Last Name
    %th Designation
    %th Email
    %th Phone
    %th Address
    %th Company Name
    %th Action
  - @clients.each do |client|
    %tr
      %td= client.title
      %td= client.first_name
      %td= client.last_name
      %td= client.designation
      %td= client.email
      %td= client.phone
      %td= client.address
      %td= client.company_name
      %td
        = link_to "Edit ##{client.id}", edit_client_path(client.id)
        = '|'
        = button_to "Delete ##{client.id}", client_path(client.id), method: :delete

%div
  = link_to 'New Client', new_client_path
