= display_page_title('Clients List')

.container.content
  %table.table
    %tr
      %th Title
      %th First Name
      %th Last Name
      %th Designation
      %th Email
      %th Phone
      %th Address
      %th Company Name
      %th Action
    - @clients.each do |client|
      %tr
        %td= client.title.text
        %td= client.first_name
        %td= client.last_name
        %td= client.designation
        %td= client.email
        %td= client.phone
        %td= client.address
        %td= client.company_name
        %td
          = link_to t('button.edit'), edit_client_path(client.id), class: 'btn btn-link', data: {test: "edit-#{client.id}"}
          = button_to t('button.delete'), client_path(client.id), method: :delete, class: 'btn btn-link', data: {confirm: t('client.message.delete_confirmation'), test: "delete-#{client.id}"}


  .pagination
    = will_paginate(@clients, { renderer: BootstrapPagination::Rails, next_label: '&raquo;', previous_label: '&laquo;'})


