= display_page_title('Clients List')

.container.content
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= label_name('client.title')
        %th= label_name('client.first_name')
        %th= label_name('client.last_name')
        %th= label_name('client.designation')
        %th= label_name('client.email')
        %th= label_name('client.phone')
        %th= label_name('client.address')
        %th= label_name('client.address')
        %th= label_name('client.company_name')
    - @clients.each do |client|
      %tr
        %td= client.title.text
        %td= client.first_name
        %td= client.last_name
        %td= client.designation
        %td= client.email
        %td= client.phone
        %td= client.address
        %td= client.company_name
        %td
          = link_to t('button.edit'), edit_client_path(client.id), class: 'btn btn-warning btn-xs',data: {test: "edit-#{client.id}"}
          = link_to t('button.delete'), client_path(client.id), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: t('client.message.delete_confirmation'), test: "delete-#{client.id}"}


  .pagination
    = will_paginate(@clients, { renderer: BootstrapPagination::Rails, next_label: '&raquo;', previous_label: '&laquo;'})


