= display_page_title('Clients List')

.container.content
  %table.list-table
    %thead
      %tr
        %th= label_name('client.title')
        %th= label_name('client.first_name')
        %th= label_name('client.last_name')
        %th= label_name('client.designation')
        %th= label_name('client.email')
        %th= label_name('client.phone')
        %th= label_name('client.address')
        %th= label_name('client.company_name')
        %th= label_name('client.action')
    - @clients.each do |client|
      %tr
        %td= client.title.text
        %td= client.first_name
        %td= client.last_name
        %td= client.designation
        %td= client.email
        %td= client.phone
        %td= client.address
        %td= client.company_name
        %td
          = list_edit_button(client)
          = list_delete_button(client)


  .pagination
    = bootstrap_paginate(@clients)


