= bootstrap_form_for project do |f|
  = f.text_field :name
  = f.text_field :domain
  = f.date_field :date_started
  = f.number_field :no_of_sprints, label: 'Number of Sprints'
  = f.number_field :price_per_sprint, label: 'Price perSprint'
  = f.text_field :quotation_no, label: 'Quotation No.'
  = f.submit 'Submit'
  = link_to 'Back', projects_path, class: 'btn btn-default'
