= display_page_title('Projects List')

.container.content
  %table.list-table
    %thead
      %tr
        %th= label_name('project.name')
        %th= label_name('project.domain')
        %th= label_name('project.date_started')
        %th= label_name('project.target_completion')
        %th= label_name('project.estimated_completion')
        %th= label_name('project.day_completed')
        %th= label_name('project.overruns_in_day')
        %th= label_name('project.no_of_sprints')
        %th= label_name('project.client')
        %th= label_name('project.action')
    - @projects.each do |project|
      - project_presenter = ProjectPresenter.new(project)
      %tr{class: project_presenter.css_classes}
        %td= project_presenter.name
        %td= project_presenter.domain
        %td.col-md-1= project_presenter.date_started
        %td.col-md-1= project_presenter.target_completion
        %td.col-md-1= project_presenter.estimated_completion
        %td= project_presenter.date_completed
        %td= project_presenter.overruns
        %td= project_presenter.no_of_sprints
        %td= project_presenter.client_link
        %td.col-md-2
          = list_edit_button(project)
          = list_delete_button(project)
          = link_to 'Detail', project_path(project.id), class: 'list-edit-button', data: {test: "view-project-#{project.id}"}

  .pagination
    = bootstrap_paginate(@projects)
