= display_page_title('Projects List')

.container.content
  %table.list-table
    %thead
      %tr
        %th= label_name('project.quotation_no')
        %th= label_name('project.name')
        %th= label_name('project.domain')
        %th= label_name('project.date_started')
        %th= label_name('project.no_of_sprints')
        %th= label_name('project.price_per_sprint')
        %th= label_name('project.client')
        %th= label_name('project.coders')
        %th= label_name('project.action')
    - @projects.each do |project|
      %tr
        %td= project.quotation_no
        %td= project.name
        %td= project.domain
        %td= project.date_started
        %td= project.no_of_sprints
        %td= project.price_per_sprint
        %td= link_to project.client.company_name, edit_client_path(project.client.id) if project.client.present?
        %td= coders_link_list(project.coders)
        %td.col-md-2
          = list_edit_button(project)
          = list_delete_button(project)

  .pagination
    = bootstrap_paginate(@projects)
