= display_page_title('Projects List')

.container.content
  %table.table
    %tr
      %th Name
      %th Domain
      %th Date Started
      %th Number of Sprints
      %th Price perSprint
      %th Quotation
      %th Client Name
      %th Action
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.domain
        %td= project.date_started
        %td= project.no_of_sprints
        %td= project.price_per_sprint
        %td= project.quotation_no
        %td= link_to project.client.name, edit_client_path(project.client.id) if project.client.present?
        %td
          = link_to 'Edit', edit_project_path(project.id), class: 'btn btn-link', data: { test: "edit-project-#{project.id}" }
          = button_to 'Delete', project_path(project.id), method: :delete, class: 'btn btn-link', data: { test: "delete-project-#{project.id}" }

  .pagination
    = will_paginate(@projects, {renderer: BootstrapPagination::Rails, next_label: '&raquo;', previous_label: '&laquo;'} )
