= display_page_title('Project Detail')
- project_presenter = ProjectPresenter.new(@project)
.container
  .content
    .col-md-6
      %h2 Client info
      %table.col-md-12.list-table
        %thead
          %tr
            %th.col-md-4 Client name
            %td= @project.client_name
          %tr
            %th.col-md-4=label_name('client.designation')
            %td= @project.client_designation
          %tr
            %th.col-md-4=label_name('client.email')
            %td= @project.client_email
          %tr
            %th.col-md-4=label_name('client.phone')
            %td= @project.client_phone
          %tr
            %th.col-md-4=label_name('client.address')
            %td= @project.client_address
          %tr
            %th.col-md-4=label_name('client.company_name')
            %td= @project.client_company_name
    .col-md-6
      %h2 Project detail
      %table.list-table
        %thead
          %tr
            %th=label_name('project.quotation_no')
            %td= project_presenter.quotation_no
          %tr
            %th=label_name('project.name')
            %td= project_presenter.name
          %tr
            %th=label_name('project.domain')
            %td= project_presenter.domain
          %tr
            %th=label_name('project.coder_ids')
            %td= coders_link_list(project_presenter.coders)
          %tr
            %th=label_name('project.date_started')
            %td= project_presenter.date_started
          %tr
            %th=label_name('project.target_completion')
            %td= project_presenter.target_completion
          %tr
            %th=label_name('project.estimated_completion')
            %td= project_presenter.estimated_completion
          %tr
            %th=label_name('project.day_completed')
            %td= project_presenter.date_completed
          %tr
            %th=label_name('project.overruns_in_day')
            %td= project_presenter.overruns
          %tr
            %th=label_name('project.no_of_sprints')
            %td= project_presenter.no_of_sprints
          %tr
            %th=label_name('project.price_per_sprint')
            %td= project_presenter.price_per_sprint
          %tr
            %th=label_name('project.velocity')
            %td= project_presenter.velocity
    .col-md-12
      %h2 Project History
      .history
        %table.list-table.table-bordered
          %thead
            %tr
              %th= '#'
              %th.col-md-2= 'User'
              %th= 'Action'
              %th= 'Changeset'
              %th= 'Time'
          - @project.versions.each_with_index do |version, index|
            %tr
              %td= index + 1
              %td.col-md-2
                = version.creator_name
              %td
                = version.event
              %td
                = version_diff(version)
              %td
                = version.created_at
    .col-md-12
      %h2= 'Project Commits'
      .commits
        %table.list-table.table-bordered
          %thead
            %tr
              %th= '#'
              %th= 'Commit Message'
              %th= 'Commiter'
              %th= 'Commiter Email'
              %th= 'Commit Date'
            - @project.commits.each_with_index do |commit, index|
              %tr
                %td= index+1
                %td
                  = link_to commit.commit.message, commit.html_url
                %td
                  = commit.commit.committer.name
                %td
                  = commit.commit.committer.email
                %td
                  = commit.commit.committer.date
    .col-md-12
      %h2= 'Infograph of a project milestones'
      .date_stated
        =@project.date_started
      .absences
        -@project.work_logs.unworking.each_with_index do |unworking, index|
          .div
            = unworking.date
    = link_to 'Back', projects_path, class: 'btn-u btn-u-default'
